@font-face {
    src: url("/assets/font/Gilroy/Gilroy-Medium.ttf ");
    font-family: gilroy
}

body {
    margin: 0;
    font-family: gilroy,-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
