.vrs-checkbox-subcontainer{
    display: flex;
    align-items: flex-start;
}
.vrs-checkbox{
    transform: translateY(3px)
}
.vrs-checkbox-label{
    display: inline-block;
    padding-left: 3px;
    transform: translateY(2px)
}